Architecture: iphoneos-arm
Name: Spotlight Suggestions Enabler (Beta)
Package: com.ps.proactivesearchenabler
Version: 1.0
Author: PoomSmart
Depends: mobilesubstrate, firmware (>= 9.0)
Description: For unsupported devices ONLY.
Section: Tweaks
